@font-face {
 font-family: 'Turtle Handwriting'; /* n4 */
 font-weight: normal; /* 400 */
 font-style: normal;
 src: url('fonts/turtlehandwriting.woff') format('woff');
}

@font-face {
 font-family: 'Turtle Handwriting'; /* i4 */
 font-weight: normal; /* 400 */
 font-style: italic;
 src: url('fonts/turtlehandwriting.woff') format('woff');
}

@font-face {
 font-family: 'Turtle Handwriting'; /* n7 */
 font-weight: bold; /* 700 */
 font-style: normal;
 src: url('fonts/turtlehandwriting.woff') format('woff');
}